body {
  background-color: #EBEBEB;
  width: 100%;
  height: auto;
  position: relative; }

main {
  width: 100%;
  height: auto; }

.header__index {
  background-color: #e7e7e7;
  width: 100%;
  height: auto;
  position: relative; }

.icono__menu {
  width: 40px;
  height: 40px;
  margin-top: 1em; }

.header__menu {
  list-style: none; }

.header__lista {
  display: inline-block;
  font-size: 1em; }

.header__lista--ul {
  display: none;
  list-style: none;
  position: absolute;
  width: 20%;
  height: auto;
  background-color: #e7e7e7;
  padding: 1em;
  z-index: 1; }

.header__lista:hover .header__lista--ul {
  display: block; }

.header__listaDos {
  padding-top: 2em;
  padding-bottom: 1em;
  list-style: none; }

.menu__oculto {
  text-decoration: none;
  color: #000000;
  font-size: 1em; }

.oculto {
  display: none;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  z-index: 1; }

.menu__oculto:hover {
  color: #4CA3E3;
  text-decoration: none; }

.header__menuDos {
  text-align: left;
  background-color: #ffffff;
  padding-bottom: 2em; }

.header__info {
  font-size: 0.9em;
  text-align: left; }

.header__nav--desktop {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 1.2em; }

.menu__desktop {
  text-decoration: none;
  padding-right: 1em;
  color: #4A4A4A; }

.menu__desktop:hover {
  text-decoration: none;
  color: #4CA3E3; }

.categorias__lista {
  color: #000000;
  text-decoration: none; }

.categorias__lista:hover {
  color: #4CA3E3;
  text-decoration: none; }

.header__categorias {
  font-size: 11px;
  padding: 1em; }

.header__seguridad {
  background-color: #e7e7e7;
  font-family: "Roboto", sans-serif; }

.navbar-brand > img {
  width: 65px;
  height: 65px; }

.navbar li a, .navbar .navbar-brand {
  color: #4A4A4A; }

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #4CA3E3 !important;
  background-color: #grisHeader; }

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important; }

.navMenu {
  background-color: #e7e7e7;
  border: none;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif; }

.navbar-nav > li > .dropdown-menu {
  margin-top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.navbar-default .navbar-nav > li > a {
  width: 200px;
  font-weight: bold; }

.mega-dropdown {
  position: static !important;
  width: 50%; }

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none; }

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0; }

.mega-dropdown-menu > li > ul > li {
  list-style: none; }

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal; }

.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5; }

.mega-dropdown-menu .dropdown-header {
  color: #4CA3E3;
  font-size: 1em;
  font-weight: bold; }

.mega-dropdown-menu form {
  margin: 3px 20px; }

.mega-dropdown-menu .form-group {
  margin-bottom: 3px; }

.nav > li:hover .dropdown-menu.mega-dropdown-menu {
  display: block; }

.mega-dropdown {
  width: auto; }

.navbar .li_dib:hover .dropdown-toggle {
  background-color: #e7e7e7;
  color: #555; }

iframe {
  width: 100%;
  height: 300px; }

.mapa {
  margin-top: 2em; }

@media only screen and (max-width: 768px) {
  .texto__about {
    text-align: center; }
  .navbar-default .navbar-nav > li {
    border-bottom: 1px solid #ddd; }
  .navbar-default .navbar-nav > li > a {
    width: 100%; } }

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .texto__about {
    text-align: center; } }

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .texto__about {
    text-align: right; } }

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  .texto__about {
    text-align: right; } }

.section__eshop {
  background-color: #ffffff;
  padding: 3px; }

.section__info span {
  background-color: rgba(73, 166, 227, 0.5);
  color: #ffffff;
  justify-content: space-around;
  display: flex;
  position: absolute;
  box-shadow: 6px 9px 16px -7px rgba(0, 0, 0, 0.59);
  font-size: 1.8em;
  top: 55%;
  height: auto;
  width: 60%;
  margin-left: 0.2em; }

  
.icono__shop {
  width: 150px;
  height: 150px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
  border-radius: 200px 200px 200px 200px;
  background-color: #4CA3E3;
  margin-bottom: 3em; }

.visita {
  text-align: center;
  font-size: 1.8em;
  padding-top: 1.5em;
  padding-bottom: 2em;
  font-family: "Roboto", sans-serif;
  color: #4A4A4A; }

.imagen__productos {
  width: 220px;
  height: 220px;
  margin: 0 2em;
  box-shadow: 0px 2px 7px -1px #cdcaca;
  border-radius: 6px 6px 6px 6px; }

.productos__titulo {
  margin: 0 2em;
  padding-top: 1em;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2em;
  border-bottom: #4CA3E3 2.7px groove; }

.productos__tituloCat {
  margin: 0 2em;
  padding-top: 1em;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2em; }

.index__productos {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  overflow-x: scroll;
  padding: 1em; }

.section__productos {
  margin-bottom: 0.5em;
  background-color: #e7e7e7; }

.section__productosDesktop {
  margin-bottom: 2.5em;
  background-color: #ffffff; }

.imagen__productosDesk {
  width: 220px;
  height: 220px;
  padding-top: 1em;
  border-bottom: #e7e7e7 solid 1.5px; }

.imagen__productos:hover {
  transform: scale(1.1);
  animation-duration: 0.2s;
  transition-timing-function: ease;
  animation-name: animaciones;
  animation-fill-mode: forwards; }

@keyframes animaciones {
  from {
    box-shadow: 0px 2px 7px -1px #cdcdca; }
  to {
    box-shadow: -1px 0px 10px 2px #cdcdca; } }

.imagen__marcas:hover {
  animation-name: marcas;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards; }

@keyframes marcas {
  15% {
    transform: translateX(5px); }
  30% {
    transform: translateX(-5px); }
  50% {
    transform: translateX(3px); }
  65% {
    transform: translateX(-3px); }
  80% {
    transform: translateX(2px); }
  100% {
    transform: translateX(0px); } }

.icono__shop:hover {
  filter: grayscale(75%);
  transform: scale(1.1); }

.imagen__productosDesk:hover {
  transform: scale(1.1);
  animation-duration: 0.1s;
  transition-timing-function: ease;
  animation-name: animacionesDesk;
  animation-fill-mode: forwards; }

.imagen__catalogo:hover {
  transform: scale(1.1);
  animation-duration: 0.1s;
  transition-timing-function: ease;
  animation-name: animacionesProd;
  animation-fill-mode: forwards; }

.slide {
  animation-name: slide;
  animation-duration: 1.2s;
  visibility: visible; }

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

.slideanim {
  visibility: hidden; }

.section__categorias {
  background-color: #525353;
  color: #4CA3E3; }

.lista__enlace {
  text-decoration: none;
  color: #ffffff; }

.lista__enlace:hover {
  color: #4CA3E3;
  text-decoration: none; }

.categorias__lista {
  font-size: 1.3em;
  padding: 0.6em; }

.categorias__titulo {
  color: #ffffff;
  text-align: center;
  font-size: 1.8em;
  padding-top: 1.5em;
  padding-bottom: 2em;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1em; }

.marcas__titulo {
  text-align: center;
  color: #e7e7e7;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.8em; }

.imagen__marcas {
  background-color: #525353;
  width: 200px;
  height: 200px; }

.imagen__marcas:hover {
  filter: opacity(0.3); }

.marcas {
  border-top: double 6px #e7e7e7;
  background-color: #525353;
  padding-bottom: 4em; }

.section__envios {
  text-align: center;
  font-size: 1.8em;
  font-family: "IBM Plex Sans", sans-serif;
  color: #4A4A4A;
  margin-top: 2em; }

.envios__imagen {
  width: 150px;
  height: 150px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
  border-radius: 200px 200px 200px 200px;
  background-color: #32BEA6; }

.envios__info {
  padding-top: 0.5em;
  margin-bottom: 1.5em; }

.imagen__categorias {
  width: 150px;
  height: 150px; }

.section__categoriasDesk {
  background-color: #525353;
  color: #4CA3E3;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em; }

.categorias__imagen:hover {
  background-color: #4CA3E3; }

.calzado__ombu {
  color: #ffffff;
  letter-spacing: 0.2em;
  margin: 1em 1em; }

.categorias__ozono {
  background-image: url("../img/seguridadDos.jpg");
  background-size: cover; }

.categorias__enlace {
  color: #3B3C3C; }

.ozono__lista {
  font-size: 1em; }

.footer__mobile {
  background-color: #525353; }

.iconoRedes {
  width: 40px;
  height: 40px;
  padding-top: 1.5em; }

.footer__info {
  font-size: 1em;
  color: #e7e7e7;
  padding-top: 1em;
  font-family: "IBM Plex Sans", sans-serif; }

.footer__uno {
  border-bottom: solid 0.2em #e7e7e7;
  padding-bottom: 1.5em; }

.imagen__catalogo {
  width: 200px;
  height: 200px;
  padding-top: 1em; }

.visita__catalogo {
  text-align: left;
  font-size: 1.5em;
  color: #4A4A4A;
  border-top: #EAEDED 1.5px solid;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 1em;
  padding-top: 1.5em; }

.visita__catalogoTitulo {
  border-top: #85C1E9 4px solid;
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #566573;
  border-bottom: #e7e7e7 3px solid; }

.productos__tituloOz {
  text-align: center;
  font-size: 1.5em;
  color: #4A4A4A;
  font-family: "IBM Plex Sans", sans-serif; }

.catalogo__ombu {
  margin-bottom: 3em; }

.section__eshopPro {
  background-color: #e7e7e7;
  text-align: center;
  font-size: 1.8em;
  font-family: "IBM Plex Sans", sans-serif;
  color: #4A4A4A;
  padding-top: 3em; }

.header__infoOmbu {
  margin-top: 1.5em;
  font-size: 0.9em;
  text-align: left; }

.panelBody {
  background-color: #FAFAFA;
  color: #000000; }

.tabla_titulo {
  color: #4CA3E3; }

.section__about {
  background-color: #21252E; }

.quienes__titulo {
  font-size: 3em;
  color: #ffffff;
  padding: 1em;
  text-align: center; }

.texto__about {
  font-size: 2.4em;
  color: #e7e7e7;
  font-family: "IBM Plex Sans", sans-serif; }

.textoDos__about {
  font-size: 1.2em;
  color: #e7e7e7;
  font-family: "Roboto", sans-serif;
  padding-bottom: 3em; }

.mail{
  color:#ffffff;
  padding: 0.1em;
  text-align: right;
}


.featurette-divider {
  margin: 0em 0; 
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 200;
  line-height: 1.5;
  letter-spacing:-1px;
  color:#ffffff;

}

.cotizacion{
  background-color: #31b9f1;

}

.rowlocal{
  background-color: #245b87;
  padding-bottom: 2em;
}

.rowpagos{
  background-color: #333;
  padding-bottom: 2em;
}

/*f3b200*/


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
    /*padding-bottom: 100px;*/
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 190px;
  }
}

.cot{
  font-size: 30px;
}







