.imagen__productos:hover{
	transform:scale(1.1);
	animation-duration:0.2s;
	transition-timing-function: ease;
	animation-name:animaciones;
	animation-fill-mode: forwards;

}

@keyframes animaciones{
	from{
		box-shadow: 0px 2px 7px -1px rgba(205,205,202,100);
	
	}

	to{
		box-shadow: -1px 0px 10px 2px rgba(205,205,202,100);
	}
	
}

.imagen__marcas:hover{
animation-name: marcas;
animation-duration:1s;
animation-timing-function: ease;
animation-fill-mode: forwards;
}

@keyframes marcas{
	15%{
		transform:translateX(5px);
	}
	30%{
		transform:translateX(-5px);
	}
	50%{
		transform:translateX(3px);
	}
	65%{
		transform:translateX(-3px);
	}
	80%{
		transform:translateX(2px);
	}
	100%{
		transform:translateX(0px);
	}
}

.icono__shop:hover{
filter: grayscale(75%);
transform:scale(1.1)
}

.imagen__productosDesk:hover{
	transform:scale(1.1);
	animation-duration:0.1s;
	transition-timing-function: ease;
	animation-name:animacionesDesk;
	animation-fill-mode: forwards;
}

.imagen__catalogo:hover{
	transform:scale(1.1);
	animation-duration:0.1s;
	transition-timing-function: ease;
	animation-name:animacionesProd;
	animation-fill-mode: forwards;
}


.slide{
    animation-name: slide;
    animation-duration: 1.2s; 
    visibility: visible; 
    
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}




.slideanim {visibility:hidden;};