.footer__mobile{
	background-color: rgba(82,83,83,100);
}

.iconoRedes{
	width: 40px;
	height: 40px;
	padding-top:1.5em;
}

.footer__info{
	font-size:$MenuMobile;
	color:$grisHeader;
	padding-top:1em;
	font-family: $familyIMB;
}

.footer__uno{
	border-bottom: solid 0.2em $grisHeader;
	padding-bottom: 1.5em;
}


